<div class="container-center">
  <nb-card>
    <nb-card-header>TODO</nb-card-header>
    <nb-card-body class="p-0">
      <nb-list>
        <nb-list-item *ngFor="let task of tasks$ | async">
          <app-check-list-item
            [task]="task"
            (removeTaskClicked)="onRemoveTask(task)"
          ></app-check-list-item>
        </nb-list-item>
      </nb-list>
      <app-list-content-not-found
        *ngIf="tasksCounter === 0"
      ></app-list-content-not-found>
    </nb-card-body>
  </nb-card>
</div>

<app-floating-button (clicked)="lauchFormNew()"></app-floating-button>
