<div class="container-center">
  <nb-card [style.display]="(isAdding$ | async) ? 'none' : 'flex'">
    <nb-card-header> TODO </nb-card-header>
    <nb-card-body class="p-0" *ngIf="tasks$ | async as tasks">
      <nb-list *ngIf="tasks.length > 0; else notTasksFound">
        <nb-list-item *ngFor="let task of tasks">
          <nb-checkbox>
            <span>{{ task.name | uppercase }}</span>
          </nb-checkbox>
          <button nbButton ghost rounded status="danger">
            <nb-icon icon="trash-outline"></nb-icon>
          </button>
        </nb-list-item>
      </nb-list>
    </nb-card-body>
  </nb-card>
  <app-check-list-form-new *ngIf="isAdding$ | async"></app-check-list-form-new>
</div>

<ng-template #notTasksFound>
  <app-list-content-not-found></app-list-content-not-found>
</ng-template>
<app-floating-button (clicked)="onAdding()"></app-floating-button>
