<nb-card>
  <nb-card-header> ADDING NEW TASK </nb-card-header>
  <nb-card-body>
    <nb-badge
      *ngIf="charsAvailable > maxLen - 10"
      status="{{ charsAvailable > maxLen ? 'danger' : 'success' }}"
      text="{{ maxLen - charsAvailable }}/{{ maxLen }}"
    ></nb-badge>
    <textarea
      nbInput
      fullWidth appInputFocus
      [status]="taskNameFmCtrl.valid ? 'success' : 'danger'"
      [formControl]="taskNameFmCtrl"
      (keydown.Escape)="onCancelAdding()"
    ></textarea>
  </nb-card-body>
  <nb-card-footer>
    <button
      nbButton
      fullWidth
      status="primary"
      [disabled]="taskNameFmCtrl.invalid"
      (click)="onSaveNewTask()"
    >
      save
    </button>
  </nb-card-footer>
</nb-card>
